.blueheader {
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.purpleheader {
    font-size: 55px;
    color: #8d1296;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.whiteheader {
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-top: 20px ;
    margin-bottom: 19px;
}

.main {
    background-color: #000;
    max-width: 600px;
}

.lettertext {
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
    padding-left: 42px;
    padding-right: 42px;
    margin-bottom: 47px;
    margin-top: 0;
}

.orangetext {
    color: #fa5d26;
    font-weight: bold;
}

.yellowtext {
    color: #aa7727;
    font-weight: bold;
}

.graytext {
    font-size: 11px;
    line-height: 22px;
    color: #edd3ae;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.button {
    text-transform: uppercase;
    width: 299px;
    padding-bottom: 12px;
    padding-top: 11px;
    border-radius: 3px;
    background-color: #9f15a9;
    font-size: 24px;
    text-transform: uppercase;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    display: inline-block;
}

.contener {
    text-align: center;
}

.small {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 13px;
}

.color {
    background-color: #edd3ae;
    text-align: center;
}

.bluehed {
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.blacktext {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    font-family: "Arial";
    text-align: center;
}

.orangespan {
    font-size: 14px;
    line-height: 22px;
    color: #b45608;
    font-family: "Arial";
    text-align: center;
    font-weight: bold;
}

.social {
    text-align: center;
}


.dot {
    display: inline-block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #1b416e;
    margin-bottom: 25px;
}

.smallheader {
    font-size: 36px;
}

.mediumheader {
    font-size: 19px;
}

.paddingbottom {
    margin-bottom: 60px;
}